<div class="sidenav-content">
    <mat-toolbar style="background-color: #2466f4" class="app-toolbar">
      <mat-toolbar-row>
        <button mat-icon-button >
          <img class="img-fluid" src="" />
          <b class="frcode">
          </b>
        </button>
        <span class="center">
          <div class="col-lg-1 col-md-1 col-sm-2 center">
            <img
              class="digiicon"
              src=""
            />
          </div>
        </span>
        <span style="color: white" class="pr-2">
          <button  mat-icon-button>
            <img class="img-fluid" src="" />
          </button>
        </span>
        <mat-menu >
          <mat-card-subtitle mat-menu-item>
          &#8377;
          </mat-card-subtitle>
          <mat-card-subtitle mat-menu-item>
            <button>
            </button>
          </mat-card-subtitle>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>


<router-outlet></router-outlet>