
  <form [formGroup]="loginForm" #myForm="ngForm" >
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div
            *ngIf="
              (name?.invalid && name?.touched) || name?.dirty
            "
            style="text-align: center"
          >
            <small
              *ngIf="name?.errors?.required"
              class="text-danger"
              class="errormsg"
            >
              field required</small
            >
          </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputPassword1" placeholder="Enter email">
    </div>
    <div
            *ngIf="
              (email?.invalid && name?.touched) ||email?.dirty
            "
            style="text-align: center"
          >
            <small
              *ngIf="email?.errors?.required"
              class="text-danger"
              class="errormsg"
            >
              field required</small
            >
          </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Billing Address</label>
          <input type="text" class="form-control" formControlName="address" id="exampleInputPassword1" placeholder="Enter address">
        </div>
        <div
            *ngIf="
              (address?.invalid &&address?.touched) || address?.dirty
            "
            style="text-align: center"
          >
            <small
              *ngIf="address?.errors?.required"
              class="text-danger"
              class="errormsg"
            >
              field required</small
            >
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1"></label>
          <input type="text" class="form-control"  formControlName="pin"id="exampleInputPassword1" placeholder="Enter Pincode">
        </div>
        <div
            *ngIf="
              (pin?.invalid && pin?.touched) || pin?.dirty
            "
            style="text-align: center"
          >
            <small
              *ngIf="pin?.errors?.required"
              class="text-danger"
              class="errormsg"
            >
              field required</small
            >
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1"></label>
          <input type="text" class="form-control" formControlName="phone" id="exampleInputPassword1" placeholder="Enter Phone">
        
      </div>
      <div
            *ngIf="
              (phone?.invalid && phone?.touched) || phone?.dirty
            "
            style="text-align: center"
          >
            <small
              *ngIf="phone?.errors?.required"
              class="text-danger"
              class="errormsg"
            >
              field required</small
            >
          </div>
      </form>
          <form #addressForm="ngForm"  (ngSubmit)="logValue()">
            <div class="row">
              <div class="col-6">
                  <button type="button" class="btn btn-primary mb-2" (click)="addAddress()">Add Address</button>
                <section class="container border mb-4 p-3" *ngFor="let address of addresses; let i = index;">
                  <div class="row">
                    <div class="col-6">
                        <h4>Address {{i + 1}}</h4>
                    </div>
                    <div class="col-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeAddress(i)">Remove</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" [(ngModel)]="address.address" name="address_{{address.id}}" />
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Street</label>
                            <input type="text" class="form-control" [(ngModel)]="address.street" name="street_{{address.id}}" />
                          </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" class="form-control" [(ngModel)]="address.city" name="city_{{address.id}}"/>
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" class="form-control" [(ngModel)]="address.country" name="country_{{address.id}}" >
                              <!-- <option value="india">India</option>
                              <option value="usa">USA</option>
                              <option value="england">England</option> -->
                           
                          </div>
                    </div>
                  </div>
                </section>
          
                <!-- <div class="text-right">
                    <input type="submit" class="btn btn-success" value="Submit"/>
                </div> -->
                
              </div>
            </div>
          
          </form>
          <button type="submit" routerLink='/productlist' class="btn btn-primary" (click)='Submit(myForm.value)'>Submit</button>

        

      
      
   
      
      
      
    
   
    